<template>
  <Layout>

    <div class="jumbotron">
      <h3 class="display-6">Informations</h3>
      <ul>
        <li>Développeur PHP/Mysql et DBA depuis 2004</li>
        <li>Réalisation de nombreux sites internet et quelques ERP/CRM dont un programme d'organisation des Works Orders de la société ITM Technologies, un programme de comptabilité pour Auto-Ecole Henry, un programme de gestion de contact administratif après décès pour Auxileo.</li>
        <li>Réalisation de programmes de B2B/B2C pour Imoges, Sanijura Benelux, la Ferme Croisette, ...</li>
        <li>Formation de chef de projet afin d'optimiser les temps de développement et d'augmenter la qualité des produits fournis pour satisfaire au mieux les clients.</li>
      </ul>
    </div>
    <b-row>
      <Experiences :cols="3" />
      <Projects :cols="7" />
      <Technologies :cols="2" />
    </b-row>

  </Layout>
</template>

<script>
  import { BRow } from "bootstrap-vue"
  import Experiences from "~/components/Experiences.vue"
  import Projects from "~/components/Projects.vue"
  import Technologies from "~/components/Technologies.vue"

  export default {
    metaInfo: {
      title: 'CV'
    },
    components: {
      BRow,
      Experiences,
      Technologies,
      Projects
    }
  }
</script>
