<template>
    <b-col :cols="cols">
        <b-card border-variant="info" header="Experiences" header-bg-variant="info" header-text-variant="white" class="text-center">
            <b-list-group>
                <b-list-group-item  v-for="edge in $static.experiences.edges" :key="edge.node.id">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ edge.node.client.title }}</h5>
                        <small>{{ edge.node.status.title }}</small>
                    </div>

                    <p class="mb-1" v-for="(po, index) in edge.node.poste" :key="po.id">
                        {{ po.title }}
                    </p>
                </b-list-group-item>
            </b-list-group>
        </b-card>
    </b-col>
</template>
<script>
    import { BCard, BCol, BListGroup, BListGroupItem } from "bootstrap-vue"

    export default {
        name: "Experiences",
        props: ['cols'],
        components: {
            BCard,
            BCol,
            BListGroup,
            BListGroupItem
        }
    }
</script>

<static-query>
query {
    experiences: allContentfulExperiences(sortBy: "createdAt", order: DESC){
        edges {
            node {
                id
                title
                status {
                    id
                    title
                }
                poste {
                    id
                    title
                }
                client {
                    id
                    title
                }
            }
        }
    }
}
</static-query>
