<template>
    <nav class="nav">
        <div class="w-100">
            <b-navbar toggleable="lg" type="dark" variant="info" class="navbar navbar-dark bg-primary w-100">
                <b-navbar-brand href="/">{{ $static.metadata.siteName }}</b-navbar-brand>
                <b-navbar-toggle target="nav-collapse"/>
                <b-collapse id="nav-collapse" is-nav>
                    <b-navbar-nav>
                        <b-nav-item href="/">Home</b-nav-item>
                        <b-nav-item href="/cv/">CV</b-nav-item>
                    </b-navbar-nav>
                </b-collapse>
            </b-navbar>
        </div>
    </nav>
</template>

<script>

    import { BNavbar, BNavbarBrand, BNavbarToggle, BCollapse, BNavbarNav, BNavItem, BNavItemDropdown, BDropdownItem } from "bootstrap-vue"

    export default {
        name: "Nav",
        components: {
            BNavbar,
            BNavbarBrand,
            BNavbarToggle,
            BCollapse,
            BNavbarNav,
            BNavItem
        }
    }
</script>

<static-query>
    query {
        metadata {
            siteName
        }
    }
</static-query>

<style scoped>

</style>