<template>
    <b-col :cols="cols">
        <b-card border-variant="dark" header-bg-variant="dark" header-text-variant="white" class="text-center" header="Projets" >
            <b-list-group>
                <b-list-group-item v-for="edge in $static.projects.edges" :key="edge.node.id">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{edge.node.title}} <small>{{edge.node.experience.client.title}}</small></h5>
                        <div>
                            <b-badge variant="secondary" v-for="(pt, index) in edge.node.projectType" :key="pt.id">
                                {{pt.title}}
                            </b-badge>
                        </div>
                    </div>

                    <p class="mb-1">
                        {{edge.node.description}}
                    </p>


                    <b-badge variant="info" v-for="(tech, index) in edge.node.technologies" :key="tech.id">
                        {{tech.title}}
                    </b-badge>
                </b-list-group-item>
            </b-list-group>
        </b-card>
    </b-col>
</template>
<script>
    import { BCard, BCol, BListGroup, BListGroupItem, BBadge } from "bootstrap-vue"

    export default {
        name: "Projects",
        props: ['cols'],
        components: {
            BCol,
            BCard,
            BListGroup,
            BListGroupItem,
            BBadge
        }
    }
</script>


<static-query>
    query {
        projects: allContentfulProjects(sortBy: "createdAt", order: DESC){
            edges {
                node {
                    id
                    title
                    description
                    experience {
                        status {
                            id
                            title
                        }
                        poste {
                            id
                            title
                        }
                        client {
                            id
                            title
                        }
                    }
                    projectType {
                        title
                    }
                    technologies {
                        title
                    }
                    star
                }
            }
        }
    }
</static-query>
