<template>
    <b-col :cols="cols">
        <b-card border-variant="info" header="Technologies" header-bg-variant="info" header-text-variant="white" class="text-center">
            <div v-for="edge in $static.technologies.edges" :key="edge.node.id">
                {{ edge.node.title }}
                <b-progress :value="edge.node.score" :max="10" class="mb-3" />
            </div>
        </b-card>
    </b-col>
</template>
<script>
    import { BCard, BCol, BProgress } from "bootstrap-vue"

    export default {
        name: "Technologies",
        props: ['cols'],
        components: {
            BCol,
            BCard,
            BProgress
        }
    }
</script>


<static-query>
    query {
        technologies: allContentfulTechnologies(sort: [{by: "score"}, {by: "createdAt"}], order: DESC){
            edges {
                node {
                    id
                    title
                    score
                }
            }
        }
    }
</static-query>