<template>
  <div class="layout">
    <Nav/>
      <slot/>
  </div>
</template>


<script>
  import Nav from '~/components/Nav.vue'

  export default {
    components: {
      Nav
    }
  }
</script>


<static-query>
  query {
    metadata {
      siteName
    }
  }
</static-query>

<style>
  body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    margin:0;
    padding:0;
    line-height: 1.5;
  }

  .layout {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
  }
</style>
